# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.eggs/
*.egg-info/

# Progetti e database
desktop/MyEpigraphicProject/
*.gpkg
*.sqlite
*.sqlite3

# Node (per la web)
web/node_modules/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
desktop.ini

# Log
*.log
